<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>posterQuestion</key>
		<string>我最近头疼的很，怎么能调整好呢</string>
		<key>posterId</key>
		<integer>0</integer>
		<key>posterTime</key>
		<date>2015-05-06T00:25:50Z</date>
		<key>posterUserId</key>
		<integer>0</integer>
		<key>posterUser</key>
		<string>Marry</string>
		<key>userRole</key>
		<string>Doctor</string>
		<key>posterScore</key>
		<integer>1</integer>
		<key>posterComment</key>
		<array>
			<dict>
				<key>commentId</key>
				<integer>0</integer>
				<key>commentTime</key>
				<date>2015-05-06T00:25:29Z</date>
				<key>commentUser</key>
				<string>Harry</string>
				<key>commentOrder</key>
				<integer>0</integer>
				<key>commentParentId</key>
				<string>0</string>
				<key>commentContent</key>
				<string>您好，希望能帮助你，巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉</string>
				<key>commentPosterId</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>commentId</key>
				<integer>0</integer>
				<key>commentTime</key>
				<date>2015-05-06T00:25:29Z</date>
				<key>commentUser</key>
				<string>Marry</string>
				<key>commentOrder</key>
				<integer>0</integer>
				<key>commentParentId</key>
				<string>0</string>
				<key>commentContent</key>
				<string>谢谢你好这个是这样的</string>
				<key>commentPosterId</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>commentId</key>
				<integer>0</integer>
				<key>commentTime</key>
				<date>2015-05-06T00:25:29Z</date>
				<key>commentUser</key>
				<string>Harry</string>
				<key>commentOrder</key>
				<integer>0</integer>
				<key>commentParentId</key>
				<string>0</string>
				<key>commentContent</key>
				<string>你这个应该这么办</string>
				<key>commentPosterId</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>commentId</key>
				<integer>0</integer>
				<key>commentTime</key>
				<date>2015-05-06T00:25:29Z</date>
				<key>commentUser</key>
				<string>Harry</string>
				<key>commentOrder</key>
				<integer>0</integer>
				<key>commentParentId</key>
				<string>0</string>
				<key>commentContent</key>
				<string>您好，希望能帮助你，巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉</string>
				<key>commentPosterId</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>commentId</key>
				<integer>0</integer>
				<key>commentTime</key>
				<date>2015-05-06T00:25:29Z</date>
				<key>commentUser</key>
				<string>Harry</string>
				<key>commentOrder</key>
				<integer>0</integer>
				<key>commentParentId</key>
				<string>0</string>
				<key>commentContent</key>
				<string>您好，希望能帮助你，巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉</string>
				<key>commentPosterId</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>posterQuestion</key>
		<string>我最近头疼的很，怎么能调整好呢</string>
		<key>posterId</key>
		<integer>0</integer>
		<key>posterTime</key>
		<date>2015-05-06T00:25:50Z</date>
		<key>posterUserId</key>
		<integer>0</integer>
		<key>posterUser</key>
		<string>Marry</string>
		<key>userRole</key>
		<string>Doctor</string>
		<key>posterScore</key>
		<integer>1</integer>
		<key>posterComment</key>
		<array>
			<dict>
				<key>commentId</key>
				<integer>0</integer>
				<key>commentTime</key>
				<date>2015-05-06T00:25:29Z</date>
				<key>commentUser</key>
				<string>Harry</string>
				<key>commentOrder</key>
				<integer>0</integer>
				<key>commentParentId</key>
				<string>0</string>
				<key>commentContent</key>
				<string>您好，希望能帮助你，巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉</string>
				<key>commentPosterId</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>commentId</key>
				<integer>0</integer>
				<key>commentTime</key>
				<date>2015-05-06T00:25:29Z</date>
				<key>commentUser</key>
				<string>Marry</string>
				<key>commentOrder</key>
				<integer>0</integer>
				<key>commentParentId</key>
				<string>0</string>
				<key>commentContent</key>
				<string>谢谢你好这个是这样的</string>
				<key>commentPosterId</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>commentId</key>
				<integer>0</integer>
				<key>commentTime</key>
				<date>2015-05-06T00:25:29Z</date>
				<key>commentUser</key>
				<string>Harry</string>
				<key>commentOrder</key>
				<integer>0</integer>
				<key>commentParentId</key>
				<string>0</string>
				<key>commentContent</key>
				<string>你这个应该这么办</string>
				<key>commentPosterId</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>commentId</key>
				<integer>0</integer>
				<key>commentTime</key>
				<date>2015-05-06T00:25:29Z</date>
				<key>commentUser</key>
				<string>Harry</string>
				<key>commentOrder</key>
				<integer>0</integer>
				<key>commentParentId</key>
				<string>0</string>
				<key>commentContent</key>
				<string>您好，希望能帮助你，巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉</string>
				<key>commentPosterId</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>commentId</key>
				<integer>0</integer>
				<key>commentTime</key>
				<date>2015-05-06T00:25:29Z</date>
				<key>commentUser</key>
				<string>Harry</string>
				<key>commentOrder</key>
				<integer>0</integer>
				<key>commentParentId</key>
				<string>0</string>
				<key>commentContent</key>
				<string>您好，希望能帮助你，巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉</string>
				<key>commentPosterId</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>posterQuestion</key>
		<string>我最近头疼的很，怎么能调整好呢</string>
		<key>posterId</key>
		<integer>0</integer>
		<key>posterTime</key>
		<date>2015-05-06T00:25:50Z</date>
		<key>posterUserId</key>
		<integer>0</integer>
		<key>posterUser</key>
		<string>Marry</string>
		<key>userRole</key>
		<string>Doctor</string>
		<key>posterScore</key>
		<integer>1</integer>
		<key>posterComment</key>
		<array>
			<dict>
				<key>commentId</key>
				<integer>0</integer>
				<key>commentTime</key>
				<date>2015-05-06T00:25:29Z</date>
				<key>commentUser</key>
				<string>Harry</string>
				<key>commentOrder</key>
				<integer>0</integer>
				<key>commentParentId</key>
				<string>0</string>
				<key>commentContent</key>
				<string>您好，希望能帮助你，巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉</string>
				<key>commentPosterId</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>commentId</key>
				<integer>0</integer>
				<key>commentTime</key>
				<date>2015-05-06T00:25:29Z</date>
				<key>commentUser</key>
				<string>Marry</string>
				<key>commentOrder</key>
				<integer>0</integer>
				<key>commentParentId</key>
				<string>0</string>
				<key>commentContent</key>
				<string>谢谢你好这个是这样的</string>
				<key>commentPosterId</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>commentId</key>
				<integer>0</integer>
				<key>commentTime</key>
				<date>2015-05-06T00:25:29Z</date>
				<key>commentUser</key>
				<string>Harry</string>
				<key>commentOrder</key>
				<integer>0</integer>
				<key>commentParentId</key>
				<string>0</string>
				<key>commentContent</key>
				<string>你这个应该这么办</string>
				<key>commentPosterId</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>commentId</key>
				<integer>0</integer>
				<key>commentTime</key>
				<date>2015-05-06T00:25:29Z</date>
				<key>commentUser</key>
				<string>Harry</string>
				<key>commentOrder</key>
				<integer>0</integer>
				<key>commentParentId</key>
				<string>0</string>
				<key>commentContent</key>
				<string>您好，希望能帮助你，巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉</string>
				<key>commentPosterId</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>commentId</key>
				<integer>0</integer>
				<key>commentTime</key>
				<date>2015-05-06T00:25:29Z</date>
				<key>commentUser</key>
				<string>Harry</string>
				<key>commentOrder</key>
				<integer>0</integer>
				<key>commentParentId</key>
				<string>0</string>
				<key>commentContent</key>
				<string>您好，希望能帮助你，巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉</string>
				<key>commentPosterId</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
